[Unit]
Description=Emit MQTT events when faces are detected on the RPi cam.
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/lego-display-automation/facedetection/mqtt_face_detection.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

